@using Task_Manager_Application.Mvc.Enums
@model Task_Manager_Application.Mvc.Models.Task

<form method="post" asp-action="UpdateTask" class="p-2">
    <div class="form-group">
        <label>ID</label>
        <input class="form-control" readonly asp-for="Id"/>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" asp-for="Name"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" asp-for="Description"/>
    </div>
    <div class="form-group">
        <label>Date Created</label>
        <input class="form-control" readonly asp-for="DateCreated" />
    </div>
    <div class="form-group">
        <lable>Date Modified</lable>
        <input class="form-control" readonly asp-for="DateModified"/>
    </div>
    <div>
        <label>Priority</label>
        <input class="form-control" readonly asp-for="Priority"/>
    </div>
    <div>
        <label>Status</label>
        @Html.DropDownListFor(x => x.Status, new SelectList(Enum.GetValues(typeof(StatusEnum))), "Choose status")
    </div>
    <div>
        @Html.LabelFor(x => x.PersonNames)
        @Html.TextBoxFor(x => x.PersonNames)
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>