@model List<Task_Manager_Application.Mvc.Models.Task>

<!DOCTYPE html>
<html>
    <head>
        <meta />
        <title>Tasks List</title>
    </head>
    <body>
        <div class="text-lg-center text-white">
            <h4 class="bg-info text-white text-center p-2">"Welcome Everyone"</h4>
        <h2 class="text-black">@ViewBag.Dates</h2>
            <div class="text-black text-center">
                <h1 class="p-2">
                    The task board has @Model.Count() tasks.
                </h1>
            </div>
        </div><br />
        <div class="text-black">
            <p>This is an application that manages tasks, deadlines and priorities. It include features like task categorization, notifications, and progress tracking</p>
        </div><br />
        <div class="text-black">
        <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">View Tasks</a>
        </div>
    </body>
</html>
